.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.right-arrow {
  opacity: 0.75;
  position: absolute;
  top: 50%;
  right: 330px;
  color: #000;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  opacity: 0.75;
  position: absolute;
  top: 50%;
  left: 330px;
  color: #000;
  cursor: pointer;
  user-select: none;
}

.right-arrow:hover {
  opacity: 1;
}

.left-arrow:hover {
  opacity: 1;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 500ms;
  transform: scale(1.08);
}
