.navbar-container {
    background: var(--clr-background);
    position: sticky;
    top: 0;
    padding: 0.5rem 15%;
    z-index: 2;
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar-container a {
    width: 1rem;
    flex-grow: 1;
}

.navbar-container h4 {
    background-image: linear-gradient(90deg, var(--clr-primary) 0%, var(--clr-accent) 74%);
    background-clip: text;
    color: transparent;
}

.navbar-button {
    position: absolute;
    left: 90%;
    cursor: pointer;
    border-radius: 0.6rem;
    width: 5%;
    padding: 0.5rem 0;
    transition: 0.4s;
    background-color: var(--clr-accent);
    border: none;
}

.navbar-button a {
    color: var(--clr-background);
    font-weight: 600;
}

.navbar-button:hover {
    box-shadow: 0 0 1.5rem var(--clr-accent);
}