#usernamePage {
  background-color: hsl(195, 71%, 75%);
  background-image: linear-gradient(
    315deg,
    hsl(195, 71%, 75%) 0%,
    hsl(357, 96%, 66%) 74%
  );
  width: 100vw;
  height: 100vh;
}

#usernameContainer {
  background-color: hsl(14, 82%, 74%);
  background-image: linear-gradient(
    315deg,
    hsl(14, 82%, 74%) 0%,
    hsl(45, 92%, 72%) 74%
  );
  box-shadow: 0 0.1em 0.6em hsla(0, 0%, 0%, 0.3);
  border-radius: 0.75em;
  width: 100vw;
  max-width: 40em;
  height: 50vh;
  max-height: 18em;
  position: absolute;
  text-align: center;
  inset: 0;
  margin: auto;
  margin-top: 15em;
}

#startChatHeader {
  font-size: 2.2em;
  color: hsl(0, 0%, 0%);
  margin-top: 0.8em;
  margin-bottom: 1em;
}

#usernameInput {
  width: 20em;
  height: 1.8em;
  font-size: 1.2em;
  margin: 0.8em;
  border-radius: 0.3em;
}

.startChatButton {
  width: 9em;
  height: 3.5em;
  font-size: 1.2em;
  border: none;
  margin: 0.8em 0 0.5em 2.35em;
  outline: none;
  color: hsl(0, 0%, 100%);
  background: hsl(0, 0%, 7%);
  cursor: pointer;
  line-height: 1;
  position: relative;
  z-index: 0;
  border-radius: 0.625em;
}

.startChatButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    hsl(0, 100%, 50%),
    hsl(27, 100%, 50%),
    hsl(59, 100%, 50%),
    hsl(103, 100%, 50%),
    hsl(170, 100%, 50%),
    hsl(230, 100%, 50%),
    hsl(269, 100%, 50%),
    hsl(313, 100%, 50%),
    hsl(0, 100%, 50%)
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.startChatButton:active {
  color: hsl(0, 0%, 0%);
}

.startChatButton:active:after {
  background: transparent;
}

.startChatButton:hover:before {
  opacity: 1;
}

.startChatButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 7%);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#messagePage {
  background-color: hsl(195, 71%, 75%);
  background-image: linear-gradient(
    315deg,
    hsl(195, 71%, 75%) 0%,
    hsl(357, 96%, 66%) 74%
  );
  width: 100vw;
  height: 100vh;
}

#messageContainer {
  background-color: hsl(14, 64%, 28%);
  background-image: linear-gradient(
    315deg,
    hsl(14, 64%, 28%) 0%,
    hsl(30, 60%, 55%) 74%
  );
  box-shadow: 0 0.1em 0.6em hsla(0, 0%, 0%, 0.3);
  border-radius: 0.75em;
  width: 100vw;
  max-width: 60em;
  height: calc(100% - 3.75em);
  max-height: 50em;
  position: absolute;
  text-align: center;
  inset: 0;
  margin: auto;
  margin-top: 5em;
}

#messagePage ul {
  list-style-type: none;
  background-color: hsl(0, 0%, 100%);
  margin: 0;
  overflow: auto;
  overflow-y: scroll;
  padding: 0 1.25em 0 1.25em;
  height: calc(100% - 9em);
}

#messagePage ul li {
  line-height: 1.5rem;
  padding: 0.8em 20px;
  margin: 0;
  border-bottom: 1px solid hsl(0, 0%, 96%);
}

#messagePage ul li p {
  margin: 0;
}

#messagePage .event-message {
  width: 100%;
  text-align: center;
  clear: both;
}

#messagePage .event-message p {
  color: hsl(0, 0%, 47%);
  font-size: 1em;
  word-wrap: break-word;
  text-align: center;
}

#messagePage .chat-message {
  padding-left: 3em;
  position: relative;
}

#messagePage .chat-message i {
  position: absolute;
  width: 2.1em;
  height: 2.1em;
  overflow: hidden;
  left: 0.1em;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.3em;
  line-height: 2em;
  color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 50%;
  font-style: normal;
  text-transform: uppercase;
}

#messagePage .chat-message span {
  color: hsl(0, 0%, 20%);
  font-weight: 600;
}

#messagePage .chat-message p {
  color: hsl(217, 6%, 28%);
  max-width: 60em;
}

#chatRoomHeader {
  text-align: center;
  font-size: 2.2em;
  color: hsl(0, 0%, 100%);
}

.hidden {
  display: none;
}

#messageInput {
  width: 47em;
  height: 1.6em;
  font-size: 1em;
  margin: 0.5em;
  border-radius: 0.3em;
}

.sendMessageButton {
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid hsl(6, 78%, 57%);
  border-radius: 0.6em;
  color: hsl(6, 78%, 57%);
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
  margin: 0.5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5em;
  width: 6em;
}

.sendMessageButton:hover,
.sendMessageButton:focus {
  color: hsl(0, 0%, 100%);
  outline: 0;
}

.third {
  border-color: #3498db;
  color: hsl(0, 0%, 100%);
  box-shadow: 0 0 40px 40px hsl(204, 70%, 53%) inset, 0 0 0 0 hsl(204, 70%, 53%);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.third:hover {
  box-shadow: 0 0 10px 0 hsl(204, 70%, 53%) inset,
    0 0 10px 4px hsl(204, 70%, 53%);
}
