:root {
  --clr-text: hsl(322, 73%, 97%);
  --clr-background: hsl(0, 0%, 11%);
  --clr-primary: hsl(180, 74%, 59%);
  --clr-secondary: hsl(0, 0%, 26%);
  --clr-accent: hsl(30, 72%, 53%);
  --clr-create: hsl(145, 80%, 37%);
  --clr-delete: hsl(4, 80%, 37%);
  --clr-edit: hsl(209, 80%, 37%);
  --ff-base: 'Inter', sans-serif;
  --fs-200: clamp(1.41rem, calc(1.53rem + -0.10vw), 1.51rem);
  --fs-300: clamp(1.81rem, calc(1.78rem + 0.19vw), 2.00rem);
  --fs-400: clamp(2.17rem, calc(2.04rem + 0.65vw), 2.83rem);
  --fs-500: clamp(2.61rem, calc(2.33rem + 1.39vw), 4.00rem);
  --fs-600: clamp(3.13rem, calc(2.63rem + 2.52vw), 5.65rem);
  --fs-700: clamp(3.76rem, calc(2.91rem + 4.24vw), 8.00rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

body {
  text-rendering: optimizeSpeed;
  background: var(--clr-background);
  color: var(--clr-text);
  font-family: var(--ff-base);
  font-size: var(--fs-300);
  line-height: 1.5;
}

main, header, footer {
  --max-width: 1150px;
  --paddind: 1rem;
  margin-inline: auto;
  width: min(var(--max-width), 100% - (var(--paddind) * 2));
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

h1 {
  font-size: var(--fs-700);
}

h2 {
  font-size: var(--fs-600);
}

h3 {
  font-size: var(--fs-500);
}

h4 {
  font-size: var(--fs-400);
}

h5 {
  font-size: var(--fs-200);
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

button {
  border-radius: 0.6rem;
  text-decoration: none;
  padding: 1rem 2.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  line-height: 1;
}

.create-btn-container {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.admin-btn {
  padding: 0.5em;
}

.create-btn {
  background-color: var(--clr-create);
}

.edit-btn {
  background-color: var(--clr-edit);
}

.delete-btn {
  background-color: var(--clr-delete);
}

dialog {
  border-radius: 0.6rem;
  border: none;
  margin: auto;
  padding: 1rem;
  text-align: center;
  background: var(--clr-background);
  color: var(--clr-text);
  width: 70rem;
}

.popup p {
  margin: 1rem;
}

.popup input {
  width: 100%;
}

.popup textarea {
  width: 100%;
  margin-bottom: 0.25rem;
}

.closeBtn::after {
  position: absolute;
  top: -5%;
  left: 95%;
  display: inline-block;
  font-size: 5rem;
  content: "\00d7";
  cursor: pointer;
}

.template-grid {
  display: grid;
  row-gap: 2rem;
  grid-template-columns: auto;
}

.featured-container {
  display: flex;
  background: var(--clr-secondary);
  height: 17rem;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: 0.4s;
}

.featured-container:hover {
  filter: brightness(120%);
}

.featured-content {
  padding: 1rem;
}

input {
  font-size: var(--fs-300);
  font-family: var(--ff-base);
}

textarea {
  font-size: var(--fs-300);
  font-family: var(--ff-base);
}

.comment-area {
  border-radius: 0.6rem;
  padding: 1rem;
  margin-right: 2rem;
  width: 100%;
  max-height: 10rem;
}

.send-btn {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  border: none;
}

.comment-header-container {
  border-bottom: 1px solid var(--clr-primary);
  margin-bottom: 2rem;
}

.forum-page-container {
  background: var(--clr-secondary);
  border-radius: 0.6rem;
  padding: 1rem;
}

/* maps */

.map-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.map-wrapper {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.edit-marker {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  width: 10%;
  height: 7%;
}

/* 404 */

.noMatchContainer {
  text-align: center;
  align-items: center;
  margin-top: 15vh;
}

.noMatchContainer > * {
  color: var(--clr-primary);
}

/* sign-forms */

.sign-container {
  height: 90vh;
}

@media (max-width: 50em) {
  .sign-container {
    height: 70vh;
  }
}

/* navigation bar */

.primary-header {
  padding-top: 1rem;
}

.navbar-button {
  display: inline-flex;
  background: var(--clr-accent);
}

.navbar-button a {
  color: var(--clr-background);
  text-decoration: none;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  display: flex;
  gap: clamp(1rem, 5vw, 4rem);
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-text);
}

.nav-list a:is(:hover, :focus) {
  color: var(--clr-accent);
}

@media (max-width: 50em) {
  .primary-navigation {
    display: none;
    position: fixed;
    padding: 4rem;
    inset: 7rem 2rem auto;
    max-width: 35rem;
    margin-inline: auto;
    background: var(--clr-secondary);
    border-radius: 0.6rem;
    box-shadow: 0 0 0.75rem rgb(0, 0, 0, 0.05);
  }

  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
  }

  .nav-list {
    display: grid;
    gap: 3rem;
    text-align: center;
    font-weight: 600;
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5rem;
  }
}

/* footer */

.primary-footer {
  padding: 3rem 1rem;
}

.primary-footer-wrapper {
  display: grid;
  gap: 3rem;
  grid-template-areas: "nav" "logo";
}

@media (min-width: 50em) {
  .primary-footer-wrapper {
    grid-template-areas: "logo nav";
  }
}

.primary-footer-logo {
  grid-area: logo;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.primary-footer-nav {
  grid-area: nav;
}

.primary-footer-copyright {
  margin-top: 2rem;
  font-size: var(--fs-200);
}

@media (max-width: 50em) {
  .primary-footer-wrapper > * {
    margin-inline: auto;
  }
}

.footer-nav {
  columns: 3;
}

@media (max-width: 40em) {
  .footer-nav {
    columns: 2;
  }
}

.footer-nav a {
  color: var(--clr-text);
  text-decoration: none;
}

.footer-nav a:is(:hover, :focus) {
  color: var(--clr-accent);
}

.social-list {
  display: flex;
  gap: 3rem;
}

.social-icon {
  width: 2rem;
}

@media (min-width: 50em) {
  .social-list {
    gap: 2rem;
  }

  .social-icon {
    width: 3rem;
  }
}

/* utility classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

:where(.flow :not(:first-child)) {
  margin-top: 2rem;
}

.display-sm-none {
  display: none;
}

@media (min-width: 50em) {
  .display-md-inline-flex {
    display: inline-flex;
  }
}