.signUserFormContainer {
    box-shadow: 0 0.1rem 0.6rem hsla(0, 0%, 0%, 0.3);
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 0.6rem;
    padding: 2rem;
    margin: auto;
    text-align: center;
    width: 100%;
    max-width: 44rem;
}

.signUserFormAvatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.signUserFormContainer h4 {
    margin: 1rem;
}

.signUserFormContainer a {
    text-decoration: none;
    color: var(--clr-text);
}

.sign-input-container {
    position: relative;
    margin-top: 2rem;
    max-width: 40rem;
}

.sign-input-container label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: all 0.27s ease-in-out;
}

.sign-input-container input {
    border: none;
    border-bottom: 1px solid var(--clr-secondary);
    background: transparent;
    width: 100%;
    padding-top: 0.7rem;
    color: var(--clr-text);
}

.sign-input-container input:focus {
    outline: none;
    border-bottom: 1px solid var(--clr-accent);
}

.sign-input-container input:focus ~ label,
.sign-input-container input:valid ~ label {
    top: -25%;
    font-size: var(--fs-200);
}

.signUserFormLinkContainer {
    text-align: right;
}

.signUserFormButton {
    cursor: pointer;
    border-radius: 0.6rem;
    font-weight: 600;
    padding: 0.5rem;
    transition: 0.4s;
    background: var(--clr-accent);
    color: var(--clr-background);
    margin: 2rem;
}

.signUserFormButton:hover {
    box-shadow: 0 0 1rem var(--clr-accent);
}

.instructions {
    border-radius: 0.6rem;
    background: var(--clr-accent);
    color: var(--clr-background);
    text-align: left;
    padding: 0.5rem;
}
